body{
margin:0;
font-family:Arial;
background:#0f1713;
color:white;
}

.container{
max-width:900px;
margin:auto;
padding:15px;
}

.header{
text-align:center;
background:#18231d;
padding:20px;
border-radius:12px;
margin-bottom:15px;
}

.tabs{
display:flex;
gap:10px;
margin-bottom:15px;
}

.tab-btn{
flex:1;
padding:12px;
border:none;
border-radius:10px;
background:#1c2a23;
color:white;
font-weight:bold;
cursor:pointer;
}

.tab-btn.active{
background:#caa85c;
color:black;
}

.panel{
display:none;
background:#18231d;
padding:15px;
border-radius:12px;
}

.panel.active{
display:block;
}

.counter{
background:#213027;
padding:12px;
border-radius:10px;
margin-bottom:10px;
display:flex;
justify-content:space-between;
}

.counter button{
width:35px;
height:35px;
border:none;
background:#caa85c;
border-radius:6px;
font-size:18px;
}

.main-btn{
width:100%;
padding:14px;
border:none;
border-radius:10px;
background:#caa85c;
font-weight:bold;
margin-top:10px;
cursor:pointer;
}

.juz{
background:#213027;
padding:12px;
border-radius:10px;
margin-bottom:10px;
display:flex;
justify-content:space-between;
}
